<br>
<div>
    <ui-select ng-model="sc.selected" sortable="true" reset-search-input="true" style="width: 400px;" theme="bootstrap"
               onSelect="sc.selectedData(sc.selected)">
        <ui-select-match placeholder="Select or search a product ..." allow-clear="true">
            <span ng-bind="$select.selected.name"></span>
        </ui-select-match>
        <ui-select-choices refresh="sc.refreshProds($select.search)" refresh-delay="0"
                           repeat="item in sc.searchedData | filter: $select.search track by $index">
            <a class="nounderline">
                <span ng-bind="item.name"></span><br>
                <p>Price:<span ng-bind="item.price | currency : '&#8377;'"></span></p>
            </a>
        </ui-select-choices>
    </ui-select>
    <button ng-click="sc.addProduct(sc.selected)">Add Product</button>
    <br>
</div>
<br><br><br>
<div class="row" ng-if="sc.selectedProducts.length>0">
    <table-component table-params="sc.tableParams" calculate-total="sc.calculateTotal()" update-product="sc.updateProduct(prod)"></table-component>
    <button ng-click="sc.pay()">Proceed to Pay</button>
</div>



