<table ng-table="tc.tableParams" class="table" show-filter="true"
       class="table table-condensed table-bordered table-striped">
    <tr ng-repeat="prod in $data">
        <td title="'Sno'" filter="{ sno: 'number'}" sortable="'sno'">
            {{$index + 1}}
        </td>
        <td title="'Product Name'" filter="{ name: 'text'}" sortable="'name'">
            {{prod.name}}
        </td>
        <td title="'quantity'" filter="{ quantity: 'text'}" sortable="'quantity'">
            <select ng-model="prod.quantity" ng-change="tc.updateProduct({prod : prod})">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>
        <td title="'Price'" filter="{ price: 'number'}" sortable="'price'">
            {{prod.price}}
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Total Amount</td>
        <td>{{tc.calculateTotal()}}</td>
    </tr>
</table>